@import "tailwindcss";

@keyframes flow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flowing-gradient-text {
  background: linear-gradient(90deg, #ec4899, #f43f5e, #d946ef, #8b5cf6, #3b82f6, #ec4899);
  background-size: 250% 250%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow-gradient 5s ease infinite;
  display: inline-block;
}
